<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szmz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 扫描条码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:persistent="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OU3g8obBNF3cxnkcAdCFut1RuyxneByG" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <activity
            android:name=".ActLogin"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ahdxt.tjfx.ActTjfx_HDDXZRS"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".more.ActModifyUserInfo_SQR"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ahdxt.tjfx.ActTjfx_HDBGZS"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.ActMsgListNormal"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActWelcome"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActMain"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActMainJZ"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActMainJZ2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".more.ActBindPhone"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActRegist"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".more.ActModifyPhone"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".more.ActModifyPW"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".more.ActFindPW2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".more.ActModifyUserInfo"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".more.ActSetting"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".search.ActHistoryList"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.ActYwbl"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_person"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_main"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_jtjbxx"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_jtcyxx"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_jtcyxx_detail"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_jtccxx"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_jtsrxx"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_syrsrxx_List"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_syrsrxx"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.dzda.ActYwbl_dzda_jtzlxx"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.ActDchs"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.ActMzpy"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.ActShgs"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.ActRhcc"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ywbl.ActSpgs"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.job.ActMyJob"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.job.ActMyJobdb"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".user.job.ActDBTuihui" />
        <activity android:name=".user.job.ActDBYijiao" />
        <activity android:name=".user.job.ActDBButongguo" />
        <activity android:name=".user.job.ActMyJobYB" />
        <activity android:name=".user.job.ActYBDetail" />
        <activity android:name=".user.job.ActYBBDList" />
        <activity android:name=".user.job.ActYBBD_JBXX" />
        <activity android:name=".user.job.ActYBBD_ZHXX" />
        <activity android:name=".user.job.ActYBBD_YLJZXX" />
        <activity android:name=".user.job.ActYBBD_JZZL" />
        <activity android:name=".user.job.ActYBBD_FYMX" />
        <activity android:name=".user.job.ActYBBD_SPQY" />
        <activity android:name=".user.check.ActCheckList" />
        <activity android:name=".user.check.ActCheckDetail1" />
        <activity android:name=".ActMsgDetail" />
        <activity android:name=".home.ActMsgList" />

        <!-- 扫描条码 -->
        <activity
            android:name="com.barcode.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.pzh.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".more.ActFindPW" />
        <activity android:name=".search.ActSearchDetail" />
        <activity android:name=".ywbl.ActAddressList" />
        <activity android:name=".ahdxt.ActHdxtMain" />
        <activity android:name=".ahdxt.ActHdxt_GRCX" />
        <activity android:name=".ahdxt.ActHdxt_JG" />
        <activity android:name=".ahdxt.ActHdxt_TJFX" />
        <activity android:name=".ahdxt.ActHdxt_XXTZ" />
        <activity android:name=".ahdxt.ActHdxt_ZLGL" />
        <activity android:name=".ahdxt.grcx.ActGrcx_DataList" />
        <activity android:name=".ahdxt.grcx.ActGrcx_DB" />
        <activity android:name=".ahdxt.grcx.ActGrcx_YB" />
        <activity android:name=".ahdxt.grcx.ActGrcx_ZZ" />
        <activity android:name=".ahdxt.grcx.ActGrcx_TH" />
        <activity android:name=".search.ActListSYJZE" />
        <activity android:name=".search.ActListSYJZE_Detail" />
        <activity android:name=".ahdxt.jg.ActJg_BGDYJG" />
        <activity android:name=".ahdxt.zlgl.ActZlgl_List" />
        <activity android:name=".ahdxt.zlgl.ActZlgl_Detial" />
        <activity android:name=".ahdxt.xxtz.ActXxtz_List" />
        <activity android:name=".ahdxt.xxtz.ActXxtz_Detail" />
        <activity android:name=".ahdxt.asqr.ActHdxtMainSQR" />
        <activity android:name=".ahdxt.jg.ActJG_ListBGDY" />
        <activity android:name=".ahdxt.jg.ActJG_Listywbl" />
        <activity android:name=".ahdxt.jg.ActJG_Listywbl2" />
        <activity android:name=".ahdxt.jg.ActJG_YWBL" />
        <activity android:name=".ahdxt.jg.ActJG_ListYCCZ" />
        <activity android:name=".ahdxt.jg.ActJG_ListMGRY" />
        <activity android:name=".ahdxt.jg.ActJG_ListMGRY2" />
        <activity android:name=".ahdxt.jg.ActJG_YCCZ" />
        <activity android:name=".ahdxt.jg.ActJG_MGRY" />
        <activity android:name=".ahdxt.asqr.ActHdxt_GRCX_SQR" />
        <activity android:name=".ahdxt.asqr.ActHdxt_XXTZ_SQR" />
        <activity android:name=".ahdxt.asqr.ActHdxt_HDZC_SQR" />
        <activity
            android:name=".ahdxt.asqr.ActGrcx_JDCK_List"
            android:label="@string/title_activity_act_grcx__jdck"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ahdxt.asqr.ActGrcx_JDCK_Detail" />
        <activity android:name=".ahdxt.asqr.ActGrcx_SQXXCK_List" />
        <activity android:name=".ahdxt.asqr.ActGrcx_SQXXCK_Detail" />
        <activity android:name=".ahdxt.asqr.ActHdzc_List_SQR" />
        <activity android:name=".ahdxt.asqr.ActXXTZ_List_SQR" />
        <activity android:name=".ahdxt.ActDictList" />
        <activity android:name=".ahdxt.tjfx.ActTJ_YEQS" />
        <activity android:name=".ahdxt.tjfx.ActTJ_QYTJ" />
        <activity android:name=".ahdxt.tjfx.ActTJ_GXDWHDRC" />
        <activity android:name=".ahdxt.asqr.ActXXTZ_Detail_SQR" />

        <!-- 医疗救助 -->
        <activity
            android:name=".ayljzxt.ActMainYLJZ"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActMainYLJZ2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ahdxt.ActHD_User" />
        <activity
            android:name=".ActCommUser"
            android:label="@string/title_activity_act_comm_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".more.ActModifyPhone2" />
        <activity android:name=".more.ActMsgSet" />
        <activity android:name=".more.ActBindPhone_Worker" />
        <activity android:name=".more.ActCodeLogin" />
        <activity android:name=".tjfx.ActJZ_1" />
        <activity android:name=".tjfx.ActJZ_3" />
        <activity android:name=".user.check.ActJZ_DC" />
        <activity
            android:name=".ayljzxt.ActHomeDetail"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZS_HistroyList"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZS_Histroy_Detail"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYzs_people_List"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZS_people_detail"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZS_tj1"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZS_tj2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZS_tj3"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ayljzxt.ActUserMsg" />
        <activity
            android:name=".ayljzxt.ActYZS_JDList"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZS_JDDetail"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZSSQR_HistroyList"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZSSQR_Histroy_Detail"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZSSQR_SYJZEList"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ayljzxt.ActYZSSQR_SYJZE_Detail"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ywbl.dzda.dasp.ActDchsInfo" />
        <activity android:name=".ywbl.dzda.dasp.ActMzpyInfo" />
        <activity android:name=".ywbl.dzda.dasp.ActShgsInfo" />
        <activity android:name=".ywbl.dzda.dasp.ActSpgsInfo" />
        <activity android:name=".ywbl.dzda.dasp.ActRhccInfo" />
        <activity android:name=".ActJZ_SQR_JD_Detail"></activity>
    </application>

</manifest>